.radio-group {
  display: flex;
  flex-direction: column;
  align-items: start;


  &__items {
    display: flex; 
    align-items: center;
    gap: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__control {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid $brown-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;

    &::before {
      content: "";
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: $brown-primary;
      transition: all 0.3s;
      opacity: 0;
    }
    &[data-state="checked"]::before {
        opacity: 1;
    }

  }
}
