
html {
  
  font-size: 50%; //1rem = 50% of 16px = 8px
  
 
  @include respond(tab-port) {
    font-size: 62.5%; //1rem = 62.5% of 16px = 10px
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
//box-sizing: border-box; allows us to add padding and border to an element without increasing its size
body {
  box-sizing: border-box;
  overflow-x: hidden;

}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
