

$brown-primary: #EBB762;
$brown-secondary: rgba(235, 183, 98, 0.8);
$brown-tertiary: rgba(235, 183, 98, 0.1);

$dark-primary: #263238;


$color-white: #fff;
$color-black: #000;


//FONT
$default-font-size: 1.6rem;

